USE [master]
GO
/****** Object:  Database [SistemaEnviosDB]    Script Date: 25/11/2024 01:59:51 p. m. ******/
CREATE DATABASE [SistemaEnviosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaEnviosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemaEnviosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaEnviosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemaEnviosDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaEnviosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaEnviosDB]
GO
/****** Object:  User [UsuarioTransportista]    Script Date: 25/11/2024 01:59:52 p. m. ******/
CREATE USER [UsuarioTransportista] FOR LOGIN [UsuarioTransportista] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UsuarioOferente]    Script Date: 25/11/2024 01:59:52 p. m. ******/
CREATE USER [UsuarioOferente] FOR LOGIN [UsuarioOferente] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UsuarioGenerico]    Script Date: 25/11/2024 01:59:52 p. m. ******/
CREATE USER [UsuarioGenerico] FOR LOGIN [UsuarioGenerico] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UsuarioFuncionario]    Script Date: 25/11/2024 01:59:52 p. m. ******/
CREATE USER [UsuarioFuncionario] FOR LOGIN [UsuarioFuncionario] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UsuarioCliente]    Script Date: 25/11/2024 01:59:52 p. m. ******/
CREATE USER [UsuarioCliente] FOR LOGIN [UsuarioCliente] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [RolTransportista]    Script Date: 25/11/2024 01:59:52 p. m. ******/
CREATE ROLE [RolTransportista]
GO
/****** Object:  DatabaseRole [RolOferente]    Script Date: 25/11/2024 01:59:52 p. m. ******/
CREATE ROLE [RolOferente]
GO
/****** Object:  DatabaseRole [RolGenerico]    Script Date: 25/11/2024 01:59:52 p. m. ******/
CREATE ROLE [RolGenerico]
GO
/****** Object:  DatabaseRole [RolFuncionario]    Script Date: 25/11/2024 01:59:52 p. m. ******/
CREATE ROLE [RolFuncionario]
GO
/****** Object:  DatabaseRole [RolCliente]    Script Date: 25/11/2024 01:59:52 p. m. ******/
CREATE ROLE [RolCliente]
GO
ALTER ROLE [RolTransportista] ADD MEMBER [UsuarioTransportista]
GO
ALTER ROLE [RolOferente] ADD MEMBER [UsuarioOferente]
GO
ALTER ROLE [RolGenerico] ADD MEMBER [UsuarioGenerico]
GO
ALTER ROLE [RolFuncionario] ADD MEMBER [UsuarioFuncionario]
GO
ALTER ROLE [RolCliente] ADD MEMBER [UsuarioCliente]
GO
/****** Object:  UserDefinedTableType [dbo].[CartItemType]    Script Date: 25/11/2024 01:59:52 p. m. ******/
CREATE TYPE [dbo].[CartItemType] AS TABLE(
	[id_producto] [int] NULL,
	[cantidad] [int] NULL
)
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 25/11/2024 01:59:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] NOT NULL,
	[direccion] [varchar](255) NULL,
	[ubicacion_geografica] [geography] NULL,
	[telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contactos]    Script Date: 25/11/2024 01:59:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactos](
	[Nombre] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Mensaje] [varchar](250) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 25/11/2024 01:59:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[id_detalle_pedido] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 25/11/2024 01:59:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[id_funcionario] [int] NOT NULL,
	[nombre_funcionario] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 25/11/2024 01:59:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[id_producto] [int] NULL,
	[id_transportista] [int] NULL,
	[fecha_pedido] [date] NULL,
	[estado] [varchar](20) NOT NULL,
	[costo_total] [decimal](10, 2) NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 25/11/2024 01:59:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NULL,
	[nombre] [varchar](100) NULL,
	[categoria] [varchar](20) NOT NULL,
	[precio] [decimal](10, 2) NULL,
	[tiempo_entrega] [int] NOT NULL,
	[StockDisponible] [int] NULL,
 CONSTRAINT [PK__Producto__FF341C0D78E61B36] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 25/11/2024 01:59:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[id_proveedor] [int] NOT NULL,
	[nombre_empresa] [varchar](100) NULL,
	[direccion] [varchar](255) NULL,
	[contacto] [varchar](50) NULL,
	[horario] [varchar](50) NULL,
	[ubicacion_geografica] [geography] NULL,
 CONSTRAINT [PK__Proveedo__8D3DFE285C03191F] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transportistas]    Script Date: 25/11/2024 01:59:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportistas](
	[id_transportista] [int] NOT NULL,
	[tipo_transporte] [varchar](50) NULL,
	[contacto] [varchar](50) NULL,
 CONSTRAINT [PK_Transportistas] PRIMARY KEY CLUSTERED 
(
	[id_transportista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 25/11/2024 01:59:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](255) NULL,
	[rol] [varchar](20) NOT NULL,
	[fecha_nacimiento] [date] NULL,
 CONSTRAINT [PK__Usuarios__4E3E04ADDFE7EA52] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([id_cliente], [direccion], [ubicacion_geografica], [telefono]) VALUES (1, N'San José Centro', 0xE6100000010C4B7842AF3F0555C0E4DC26DC2BDB2340, N'22224444')
INSERT [dbo].[Clientes] ([id_cliente], [direccion], [ubicacion_geografica], [telefono]) VALUES (2, N'Alajuela Centro', 0xE6100000010C92B1DAFCBF0D55C008E9297288082440, N'24332233')
INSERT [dbo].[Clientes] ([id_cliente], [direccion], [ubicacion_geografica], [telefono]) VALUES (3, N'Cartago Centro', 0xE6100000010C5EBA490C02FB54C008AC1C5A64BB2340, N'25556677')
GO
INSERT [dbo].[Contactos] ([Nombre], [Email], [Mensaje]) VALUES (N'TestGenerico', N'generico@email.com', N'Test hola adios')
INSERT [dbo].[Contactos] ([Nombre], [Email], [Mensaje]) VALUES (N'TestCliente', N'client@email.com', N'Hola test cliente')
GO
SET IDENTITY_INSERT [dbo].[DetallePedido] ON 

INSERT [dbo].[DetallePedido] ([id_detalle_pedido], [id_pedido], [id_producto], [cantidad], [precio_unitario]) VALUES (1, 1, 3, 1, CAST(15000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallePedido] ([id_detalle_pedido], [id_pedido], [id_producto], [cantidad], [precio_unitario]) VALUES (2, 2, 4, 1, CAST(15500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetallePedido] OFF
GO
INSERT [dbo].[Funcionarios] ([id_funcionario], [nombre_funcionario]) VALUES (25, N'Funcionario A')
INSERT [dbo].[Funcionarios] ([id_funcionario], [nombre_funcionario]) VALUES (26, N'Funcionario B')
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([id_pedido], [id_cliente], [id_producto], [id_transportista], [fecha_pedido], [estado], [costo_total], [cantidad]) VALUES (1, 1, 3, 11, CAST(N'2024-11-25' AS Date), N'Entregado', CAST(800.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Pedidos] ([id_pedido], [id_cliente], [id_producto], [id_transportista], [fecha_pedido], [estado], [costo_total], [cantidad]) VALUES (2, 1, 4, NULL, CAST(N'2024-11-25' AS Date), N'Pendiente', CAST(15500.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([id_producto], [id_proveedor], [nombre], [categoria], [precio], [tiempo_entrega], [StockDisponible]) VALUES (1, 15, N'Comida San José 1', N'comida', CAST(6000.00 AS Decimal(10, 2)), 0, 20)
INSERT [dbo].[Productos] ([id_producto], [id_proveedor], [nombre], [categoria], [precio], [tiempo_entrega], [StockDisponible]) VALUES (2, 15, N'Comida San José 2', N'comida', CAST(6500.00 AS Decimal(10, 2)), 0, 25)
INSERT [dbo].[Productos] ([id_producto], [id_proveedor], [nombre], [categoria], [precio], [tiempo_entrega], [StockDisponible]) VALUES (3, 15, N'Ropa San José 1', N'ropa', CAST(15000.00 AS Decimal(10, 2)), 5, 69)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
INSERT [dbo].[Proveedores] ([id_proveedor], [nombre_empresa], [direccion], [contacto], [horario], [ubicacion_geografica]) VALUES (15, N'Proveedores San José', N'San José Centro', N'22557788', N'9:00-18:00', 0xE6100000010C4B7842AF3F0555C0E4DC26DC2BDB2340)
INSERT [dbo].[Proveedores] ([id_proveedor], [nombre_empresa], [direccion], [contacto], [horario], [ubicacion_geografica]) VALUES (16, N'Proveedores Alajuela', N'Alajuela Centro', N'24334455', N'8:00-17:00', 0xE6100000010C92B1DAFCBF0D55C008E9297288082440)
INSERT [dbo].[Proveedores] ([id_proveedor], [nombre_empresa], [direccion], [contacto], [horario], [ubicacion_geografica]) VALUES (17, N'Proveedores Cartago', N'Cartago Centro', N'27778899', N'8:00-17:00', 0xE6100000010C5EBA490C02FB54C008AC1C5A64BB2340)
GO
INSERT [dbo].[Transportistas] ([id_transportista], [tipo_transporte], [contacto]) VALUES (8, N'Motocicleta Express', N'22557799')
INSERT [dbo].[Transportistas] ([id_transportista], [tipo_transporte], [contacto]) VALUES (9, N'Camioneta de Reparto', N'24338844')
INSERT [dbo].[Transportistas] ([id_transportista], [tipo_transporte], [contacto]) VALUES (10, N'Camión de Carga', N'25667788')
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [apellido], [email], [password], [rol], [fecha_nacimiento]) VALUES (1, N'Cliente', N'San José', N'cliente.sanjose@example.com', N'password123', N'cliente', CAST(N'1992-03-12' AS Date))
INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [apellido], [email], [password], [rol], [fecha_nacimiento]) VALUES (2, N'Cliente', N'Alajuela', N'cliente.alajuela@example.com', N'password123', N'cliente', CAST(N'1985-11-20' AS Date))
INSERT [dbo].[Usuarios] ([id_usuario], [nombre], [apellido], [email], [password], [rol], [fecha_nacimiento]) VALUES (3, N'Cliente', N'Cartago', N'cliente.cartago@example.com', N'password123', N'cliente', CAST(N'1990-05-10' AS Date))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EmailRol]    Script Date: 25/11/2024 01:59:52 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_EmailRol] ON [dbo].[Usuarios]
(
	[email] ASC,
	[rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([id_pedido])
REFERENCES [dbo].[Pedidos] ([id_pedido])
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_producto])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD CHECK  (([estado]='entregado' OR [estado]='en camino' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK__Productos__categ__52593CB8] CHECK  (([categoria]='zapatos' OR [categoria]='comida' OR [categoria]='ropa'))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK__Productos__categ__52593CB8]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Rol] CHECK  (([rol]='funcionario' OR [rol]='proveedor' OR [rol]='transportista' OR [rol]='cliente'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Rol]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPedidosPorProveedor]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPedidosPorProveedor]
    @id_proveedor INT
AS
BEGIN
    SELECT * FROM dbo.Pedidos p
    INNER JOIN dbo.Productos pr ON p.id_producto = pr.id_producto
    WHERE pr.id_proveedor = @id_proveedor;    
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarEstadoPedido]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarEstadoPedido]
	@IdTransportista INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Actualizar el estado de los pedidos de "en camino" a "entregado"
    UPDATE Pedidos
    SET estado = 'Entregado'
    WHERE id_transportista = @IdTransportista
    AND estado = 'en camino';

	--Validacion
    IF @@ROWCOUNT = 0
    BEGIN
        PRINT 'No se actualizó ningun pedido.';
    END
END


------------------Pendientes por transportistaGO
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEstadoYAsignarTransportista]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ActualizarEstadoYAsignarTransportista]
    @id_pedido INT,
    @id_transportista INT,
    @nuevoEstado VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Obtener la fecha del pedido y el tiempo máximo de entrega
        DECLARE @fecha_pedido DATETIME;
        DECLARE @tiempo_entrega INT;

        SELECT @fecha_pedido = p.fecha_pedido,
               @tiempo_entrega = pr.tiempo_entrega
        FROM Pedidos p
        JOIN Productos pr ON p.id_producto = pr.id_producto
        WHERE p.id_pedido = @id_pedido AND pr.categoria = 'comida';

        -- Verificar si el tiempo transcurrido excede el tiempo de entrega permitido
        IF DATEDIFF(MINUTE, @fecha_pedido, GETDATE()) > @tiempo_entrega
        BEGIN
            -- Lanzar error si el tiempo de entrega ha sido excedido
            RAISERROR('El pedido excede el tiempo máximo de entrega y no puede ser tomado.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Si la validación pasa, asignar el transportista y actualizar el estado
        UPDATE Pedidos
        SET id_transportista = @id_transportista,
            estado = @nuevoEstado
        WHERE id_pedido = @id_pedido;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarStockProducto]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarStockProducto]
    @id_producto INT,
    @cantidad INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Productos
    SET StockDisponible = StockDisponible - @cantidad
    WHERE id_producto = @id_producto;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarCliente]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AgregarCliente]
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @Email VARCHAR(100),
    @Password VARCHAR(255),
    @Direccion VARCHAR(255),
    @Telefono VARCHAR(20),
    @FechaNacimiento DATE,
    @Ubicacion GEOGRAPHY -- Nuevo parámetro para almacenar las coordenadas
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        -- Validar que el usuario tenga al menos 16 años
        IF DATEDIFF(YEAR, @FechaNacimiento, GETDATE()) < 16
        BEGIN
            RAISERROR('Debes tener al menos 16 años para registrarte.', 16, 1);
            RETURN; -- Detener la ejecución del procedimiento
        END

        -- Verificar si el correo ya está registrado
        IF EXISTS (SELECT 1 FROM Usuarios WHERE email = @Email AND rol <> 'cliente')
        BEGIN
            RAISERROR('El correo electrónico ya está registrado para otro tipo de usuario.', 16, 1);
            RETURN; -- Detener la ejecución del procedimiento
        END

        -- Insertar en la tabla Usuarios
        INSERT INTO Usuarios (nombre, apellido, email, password, rol, fecha_nacimiento)
        VALUES (@Nombre, @Apellido, @Email, @Password, 'cliente', @FechaNacimiento);

        -- Obtener el id del usuario insertado
        DECLARE @IdUsuario INT = SCOPE_IDENTITY();

        -- Insertar en la tabla Clientes, incluyendo la ubicación geográfica
        INSERT INTO Clientes (id_cliente, direccion, ubicacion_geografica, telefono)
        VALUES (@IdUsuario, @Direccion, @Ubicacion, @Telefono);

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarProveedor]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AgregarProveedor]
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @Email VARCHAR(100),
    @Password VARCHAR(255),
    @NombreEmpresa VARCHAR(100),
    @Direccion VARCHAR(255),
    @Contacto VARCHAR(50),
    @Horario VARCHAR(50),
    @Ubicacion GEOGRAPHY, -- Nuevo parámetro para almacenar las coordenadas
    @FechaNacimiento DATE
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        -- Validar que el proveedor tenga al menos 16 años
        IF DATEDIFF(YEAR, @FechaNacimiento, GETDATE()) < 16
        BEGIN
            RAISERROR('Debes tener al menos 16 años para registrarte como proveedor.', 16, 1);
            RETURN; -- Detener la ejecución del procedimiento
        END

        -- Verificar si el correo ya está registrado
        IF EXISTS (SELECT 1 FROM Usuarios WHERE email = @Email AND rol <> 'proveedor')
        BEGIN
            RAISERROR('El correo electrónico ya está registrado para otro tipo de usuario.', 16, 1);
            RETURN; -- Detener la ejecución del procedimiento
        END

        -- Insertar en la tabla Usuarios
        INSERT INTO Usuarios (nombre, apellido, email, password, rol, fecha_nacimiento)
        VALUES (@Nombre, @Apellido, @Email, @Password, 'proveedor', @FechaNacimiento);

        -- Obtener el id del usuario insertado
        DECLARE @IdUsuario INT = SCOPE_IDENTITY();

        -- Insertar en la tabla Proveedores, incluyendo la ubicación geográfica
        INSERT INTO Proveedores (id_proveedor, nombre_empresa, direccion, contacto, horario, ubicacion_geografica)
        VALUES (@IdUsuario, @NombreEmpresa, @Direccion, @Contacto, @Horario, @Ubicacion);

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarTransportista]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AgregarTransportista]
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @Email VARCHAR(100),
    @Password VARCHAR(255),
    @TipoTransporte VARCHAR(50),
    @Contacto VARCHAR(50),
    @FechaNacimiento DATE
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        -- Validar que el transportista tenga al menos 16 años
        IF DATEDIFF(YEAR, @FechaNacimiento, GETDATE()) < 16
        BEGIN
            RAISERROR('Debes tener al menos 16 años para registrarte como transportista.', 16, 1);
            RETURN; -- Detener la ejecución del procedimiento
        END

        -- Verificar si el correo ya está registrado
        IF EXISTS (SELECT 1 FROM Usuarios WHERE email = @Email AND rol <> 'transportista')
        BEGIN
            RAISERROR('El correo electrónico ya está registrado para otro tipo de usuario.', 16, 1);
            RETURN; -- Detener la ejecución del procedimiento
        END

        -- Insertar en la tabla Usuarios
        INSERT INTO Usuarios (nombre, apellido, email, password, rol, fecha_nacimiento)
        VALUES (@Nombre, @Apellido, @Email, @Password, 'transportista', @FechaNacimiento);

        -- Obtener el id del usuario insertado
        DECLARE @IdUsuario INT = SCOPE_IDENTITY();

        -- Insertar en la tabla Transportistas
        INSERT INTO Transportistas (id_transportista, tipo_transporte, contacto)
        VALUES (@IdUsuario, @TipoTransporte, @Contacto);

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CalcularCostoEnvio]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CalcularCostoEnvio]
    @IdPedido INT,
    @CostoTotal DECIMAL(10, 2) OUTPUT
AS
BEGIN
    BEGIN TRY
        DECLARE @Distancia FLOAT; 
        DECLARE @CostoEnvio DECIMAL(10, 2);
        DECLARE @UbicacionCliente GEOGRAPHY;
        DECLARE @UbicacionProveedor GEOGRAPHY;

        -- Obtener la ubicacion del cliente
        SELECT @UbicacionCliente = c.ubicacion_geografica
        FROM Clientes c
        INNER JOIN Pedidos p ON c.id_cliente = p.id_cliente
        WHERE p.id_pedido = @IdPedido;

        -- Verificar si se obtuvo la ubicacion del cliente
        IF @UbicacionCliente IS NULL
        BEGIN
            RAISERROR('La ubicacion del cliente no se encontro para el pedido', 16, 1);
            RETURN;
        END

        -- Obtener la ubicacion del proveedor
        SELECT @UbicacionProveedor = pr.ubicacion_geografica
        FROM Proveedores pr
        INNER JOIN Productos prod ON pr.id_proveedor = prod.id_proveedor
        INNER JOIN Pedidos p ON prod.id_producto = p.id_producto
        WHERE p.id_pedido = @IdPedido;

        -- Verificar si se obtuvo la ubicacion del proveedor
        IF @UbicacionProveedor IS NULL
        BEGIN
            RAISERROR('La ubicacion del proveedor no se encontro para el pedido', 16, 1);
            RETURN;
        END

        -- Calcular la distancia en kilometros
        SET @Distancia = @UbicacionCliente.STDistance(@UbicacionProveedor) / 1000.0;

        -- Determinar el costo del envio y validar cobertura
        IF @Distancia <= 1
            SET @CostoEnvio = 800;
        ELSE IF @Distancia <= 3
            SET @CostoEnvio = 1400;
        ELSE IF @Distancia <= 6
            SET @CostoEnvio = 1800;
        ELSE IF @Distancia < 12
            SET @CostoEnvio = 2400;
        ELSE
        BEGIN
            -- Distancia fuera de cobertura: asignar costo total a 0 y no actualizar el estado
            SET @CostoTotal = 0;
            RETURN;
        END

        -- Si está dentro de la cobertura, calcular el costo y actualizar el estado y el costo total
        SET @CostoTotal = ISNULL(@CostoTotal, 0) + @CostoEnvio;

        -- Actualizar el costo total y el estado solo si está dentro de cobertura
        UPDATE Pedidos
        SET costo_total = @CostoTotal,
            estado = 'Entregado'
        WHERE id_pedido = @IdPedido AND @Distancia < 12;

    END TRY
    BEGIN CATCH
        RAISERROR('Ocurrio un error al calcular el precio del envio', 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CalcularDistancia]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CalcularDistancia]
    @IdPedido INT,
    @DistanciaKm FLOAT OUTPUT,
    @CostoTotal DECIMAL(10, 2) OUTPUT
AS
BEGIN
    BEGIN TRY
        DECLARE @Distancia FLOAT; 
        DECLARE @CostoEnvio DECIMAL(10, 2);
        DECLARE @UbicacionCliente GEOGRAPHY;
        DECLARE @UbicacionProveedor GEOGRAPHY;

        -- Obtener la ubicacion del cliente
        SELECT @UbicacionCliente = c.ubicacion_geografica
        FROM Clientes c
        INNER JOIN Pedidos p ON c.id_cliente = p.id_cliente
        WHERE p.id_pedido = @IdPedido;

        -- Verificar si se obtuvo la ubicacion del cliente
        IF @UbicacionCliente IS NULL
        BEGIN
            RAISERROR('La ubicacion del cliente no se encontro para el pedido', 16, 1);
            RETURN;
        END

        -- Obtener la ubicacion del proveedor
        SELECT @UbicacionProveedor = pr.ubicacion_geografica
        FROM Proveedores pr
        INNER JOIN Productos prod ON pr.id_proveedor = prod.id_proveedor
        INNER JOIN Pedidos p ON prod.id_producto = p.id_producto
        WHERE p.id_pedido = @IdPedido;

        -- Verificar si se obtuvo la ubicacion del proveedor
        IF @UbicacionProveedor IS NULL
        BEGIN
            RAISERROR('La ubicacion del proveedor no se encontro para el pedido', 16, 1);
            RETURN;
        END

        -- Calcular la distancia en kilometros
        SET @Distancia = @UbicacionCliente.STDistance(@UbicacionProveedor) / 1000.0;

        -- Devolver la distancia como salida
        SET @DistanciaKm = @Distancia;

        -- Determinar el costo del envio y validar cobertura
        IF @Distancia <= 1
            SET @CostoEnvio = 800;
        ELSE IF @Distancia <= 3
            SET @CostoEnvio = 1400;
        ELSE IF @Distancia <= 6
            SET @CostoEnvio = 1800;
        ELSE IF @Distancia < 12
            SET @CostoEnvio = 2400;
        ELSE
        BEGIN
            -- Distancia fuera de cobertura: asignar costo total a 0 y no actualizar el estado
            SET @CostoTotal = 0;
            RETURN;
        END

        -- Si está dentro de la cobertura, calcular el costo y actualizar el estado y el costo total
        SET @CostoTotal = ISNULL(@CostoTotal, 0) + @CostoEnvio;

        -- Actualizar el costo total y el estado solo si está dentro de cobertura
        UPDATE Pedidos
        SET costo_total = @CostoTotal,
            estado = 'Entregado'
        WHERE id_pedido = @IdPedido AND @Distancia < 12;

    END TRY
    BEGIN CATCH
        RAISERROR('Ocurrio un error al calcular el precio del envio', 16, 1);
    END CATCH
END;


-----
GO
/****** Object:  StoredProcedure [dbo].[sp_CalcularTotalesCarrito]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CalcularTotalesCarrito]
    @CartItems CartItemType READONLY
AS
BEGIN
    SELECT 
        p.id_producto,
        p.nombre,
        p.precio,
        ci.cantidad,
        Subtotal = p.precio * ci.cantidad,
        Impuestos = p.precio * ci.cantidad * 0.13,
        Total = p.precio * ci.cantidad * 1.13
    FROM 
        @CartItems ci
        INNER JOIN Productos p ON ci.id_producto = p.id_producto;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearDetallePedido]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CrearDetallePedido]
    @id_pedido INT,
    @id_producto INT,
    @cantidad INT,
    @precio_unitario DECIMAL(10, 2)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO DetallePedido (id_pedido, id_producto, cantidad, precio_unitario)
    VALUES (@id_pedido, @id_producto, @cantidad, @precio_unitario);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearOrdenDeCompra]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearOrdenDeCompra]
    @id_cliente INT,
    @fecha_pedido DATE,
    @estado VARCHAR(20),
    @id_transportista INT = NULL,
    @id_producto INT,
    @costo_total DECIMAL(10, 2)  -- Nuevo parámetro para el costo total
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @id_pedido INT;

    -- Insertar en la tabla Pedidos, incluyendo el costo total
    INSERT INTO Pedidos (id_cliente, id_producto, id_transportista, fecha_pedido, estado, costo_total)
    VALUES (@id_cliente, @id_producto, @id_transportista, @fecha_pedido, @estado, @costo_total);

    -- Obtener el id_pedido generado
    SET @id_pedido = SCOPE_IDENTITY();

    -- Retornar el id_pedido
    SELECT @id_pedido AS id_pedido;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCliente]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteCliente]
    @id_cliente INT
AS
BEGIN
    DELETE FROM Clientes
    WHERE id_cliente = @id_cliente;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteProducto]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteProducto] (@IdProducto INT)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Productos WHERE id_producto = @IdProducto)
    BEGIN
        RAISERROR ('El producto no esta registrado', 16, 1);
        RETURN;
    END

	DELETE FROM Productos WHERE id_producto = @IdProducto
END;

-------------------------------------------------------------
--------------Select Productos-------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTransportista]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteTransportista]
    @id_transportista INT
AS
BEGIN
    DELETE FROM Transportistas
    WHERE id_transportista = @id_transportista;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategorias]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCategorias]
AS
BEGIN
    SELECT DISTINCT categoria
    FROM Productos;  -- O Servicios, dependiendo del nombre de tu tabla
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductoPorId]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProductoPorId]
    @id_producto INT
AS
BEGIN
    SELECT id_producto, nombre, precio, tiempo_entrega
    FROM Productos
    WHERE id_producto = @id_producto;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductosPorCategoria]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetProductosPorCategoria]
    @categoria VARCHAR(20)
AS
BEGIN
    SELECT id_producto, nombre, precio, tiempo_entrega
    FROM Productos  -- O Servicios, dependiendo del nombre de tu tabla
    WHERE categoria = @categoria;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IniciarSesion]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IniciarSesion]
    @Email VARCHAR(100),
    @Password VARCHAR(255)
AS
BEGIN
    DECLARE @id_usuario INT;
    DECLARE @rol VARCHAR(20);

    --buscar al usuario en la tabla Usuarios
    SELECT @id_usuario = id_usuario, @rol = rol
    FROM Usuarios
    WHERE email = @Email AND password = @Password;

    --verificar si el usuario existe
    IF @id_usuario IS NOT NULL
    BEGIN
        --retornar el rol del usuario
        SELECT @rol AS Rol, @id_usuario AS IdUsuario;
    END
    ELSE
    BEGIN
        RAISERROR ('Credenciales incorrectas', 16, 1);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarContacto]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertarContacto]
    @Nombre VARCHAR(100),
    @Email VARCHAR(100),
    @Mensaje VARCHAR(250)
AS
BEGIN
    INSERT INTO Contactos (Nombre, Email, Mensaje)
    VALUES (@Nombre, @Email, @Mensaje)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertProducto]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertProducto] (@IdProvedor INT, @Nombre VARCHAR(100), @Categoria VARCHAR(20), 
@Precio DECIMAL(10, 2), @Tiempo_Entrega INT, @Stock Decimal(10, 2))
AS 
BEGIN 
	INSERT INTO Productos(id_proveedor, nombre, categoria, precio, tiempo_entrega, StockDisponible) 
	VALUES (@IdProvedor, @Nombre, @Categoria, @Precio, @Tiempo_Entrega, @Stock);
END




GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTransportista]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertTransportista]
    @id_transportista INT,
    @tipo_transporte NVARCHAR(50),
    @contacto NVARCHAR(50)
AS
BEGIN
    INSERT INTO Transportistas (id_transportista, tipo_transporte, contacto)
    VALUES (@id_transportista, @tipo_transporte, @contacto);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerClientePorID]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerClientePorID]
    @id_cliente INT
AS
BEGIN
    SELECT id_cliente, telefono, direccion
    FROM Clientes
    WHERE id_cliente = @id_cliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerHistorialComprasPorCliente]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerHistorialComprasPorCliente]
    @IdCliente INT
AS
BEGIN
    SELECT id_historial, id_pedido, fecha_entrega, observaciones
    FROM Historial_Cliente
    WHERE id_cliente = @IdCliente;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPedidosConDetalles]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerPedidosConDetalles]
    @IdCliente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.id_pedido AS IdPedido,
        p.fecha_pedido AS FechaPedido,
        p.estado AS Estado,
        Subtotal = SUM(dp.precio_unitario * dp.cantidad),
        Impuestos = SUM(dp.precio_unitario * dp.cantidad) * 0.13,
        Total = SUM(dp.precio_unitario * dp.cantidad) * 1.13,
        t.tipo_transporte AS Transportista,
        t.contacto AS ContactoTransportista,
        MAX(prod.tiempo_entrega) AS TiempoEntrega,
		p.costo_total AS CostoEntrega
    FROM 
        Pedidos p
    INNER JOIN 
        DetallePedido dp ON p.id_pedido = dp.id_pedido
    INNER JOIN 
        Productos prod ON dp.id_producto = prod.id_producto
    LEFT JOIN 
        Transportistas t ON p.id_transportista = t.id_transportista
    WHERE 
        p.id_cliente = @IdCliente
        AND (p.estado = 'pendiente' OR p.estado = 'en camino')
    GROUP BY 
        p.id_pedido, p.fecha_pedido, p.estado, t.tipo_transporte, t.contacto, p.costo_total
    ORDER BY 
        p.fecha_pedido DESC;
END 

--------------------------Alterar para que muester el total correcto
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPedidosEntregadosPorCliente]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerPedidosEntregadosPorCliente]
    @IdCliente INT
AS
BEGIN
    SELECT 
        p.id_pedido,
        p.fecha_pedido,
        p.estado,
        Subtotal = SUM(dp.precio_unitario * dp.cantidad),
        Impuestos = SUM(dp.precio_unitario * dp.cantidad) * 0.13,
		p.costo_total,
        Total = SUM(dp.precio_unitario * dp.cantidad) * 1.13 + p.costo_total
    FROM 
        Pedidos p
    INNER JOIN 
        DetallePedido dp ON p.id_pedido = dp.id_pedido
    WHERE 
        p.id_cliente = @IdCliente
        AND p.estado = 'Entregado'
    GROUP BY 
        p.id_pedido, p.fecha_pedido, p.estado, p.costo_total
END














------------------------------
--SP para actualizar a entregado

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerTodosLosPedidos]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerTodosLosPedidos]
AS
BEGIN
    SELECT id_pedido, id_cliente, id_producto, id_transportista, fecha_pedido, estado, costo_total
    FROM Pedidos where estado = 'pendiente';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerTransPorID]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerTransPorID]
    @id_transportista INT
AS
BEGIN
    SELECT 
        id_transportista, 
        tipo_transporte, 
        contacto
    FROM 
        Transportistas
    WHERE 
        id_transportista = @id_transportista
END

GO
/****** Object:  StoredProcedure [dbo].[SP_PedidosPendientes]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PedidosPendientes] (@id INT)
AS
BEGIN
    SELECT 
        p.id_pedido,
        p.fecha_pedido,
        p.estado,
        subtotal = SUM(dp.precio_unitario * dp.cantidad),
        impuestos = SUM(dp.precio_unitario * dp.cantidad) * 0.13,
        total = SUM(dp.precio_unitario * dp.cantidad) * 1.13,
        t.tipo_transporte,
        t.contacto,
        MAX(prod.tiempo_entrega)
    FROM 
        Pedidos p
    INNER JOIN 
        DetallePedido dp ON p.id_pedido = dp.id_pedido
    INNER JOIN 
        Productos prod ON dp.id_producto = prod.id_producto
    LEFT JOIN 
        Transportistas t ON p.id_transportista = t.id_transportista
    WHERE 
        p.id_cliente = @id
        AND (p.estado = 'en camino')
    GROUP BY 
        p.id_pedido, p.fecha_pedido, p.estado, t.tipo_transporte, t.contacto
    ORDER BY 
        p.fecha_pedido DESC;
END;



GO
/****** Object:  StoredProcedure [dbo].[SP_PendientesTransportista]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PendientesTransportista] (@id INT)
AS
BEGIN
    SELECT 
        p.id_pedido,
        p.fecha_pedido,
        p.estado,
        total = SUM(dp.precio_unitario * dp.cantidad) * 1.13 + p.costo_total,
        --MAX(prod.tiempo_entrega),
        p.id_cliente,
        c.telefono
    FROM 
        Pedidos p
    INNER JOIN 
        DetallePedido dp ON p.id_pedido = dp.id_pedido
    INNER JOIN 
        Productos prod ON dp.id_producto = prod.id_producto
    LEFT JOIN 
        Transportistas t ON p.id_transportista = t.id_transportista
    JOIN 
        Clientes c ON p.id_cliente = c.id_cliente
    WHERE 
        p.id_transportista = @id
        AND (p.estado = 'en camino')
    GROUP BY 
        p.id_pedido, p.fecha_pedido, p.estado, p.costo_total, c.id_cliente, c.telefono, p.id_cliente
    ORDER BY 
        p.fecha_pedido DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectProductoCategoria]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SelectProductoCategoria] (@Categoria VARCHAR(20))
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Productos WHERE categoria = @Categoria)
    BEGIN
        RAISERROR ('La categoria no tiene registros', 16, 1);
        RETURN;
    END
	SELECT * FROM Productos WHERE categoria = @Categoria;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_SelectProductoProvedor]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SelectProductoProvedor] (@Provedor int)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Productos WHERE id_proveedor = @Provedor)
    BEGIN
        RAISERROR ('El provedor no tiene registros', 16, 1);
        RETURN;
    END
	SELECT * FROM Productos WHERE id_proveedor = @Provedor;
END;

-------------------------------------------------------------
--------------Historial-------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[SP_SelectProductoProvedores]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SelectProductoProvedores] (@Provedor int)
AS
BEGIN
	SELECT * FROM Productos WHERE id_proveedor = @Provedor;

	IF NOT EXISTS(SELECT 1 FROM Productos WHERE id_proveedor = @Provedor)
	BEGIN
        SELECT 
            0 AS id_producto, @Provedor AS id_proveedor, 'No definido' AS nombre, 'No definida' AS categoria, 0 AS precio, 'N/A' AS tiempo_entrega;
	END;
END;

-------------------------------------------------------------
--------------Select provedores-------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[SP_SelectProvedo]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_SelectProvedo](@id int)
AS
BEGIN
    SELECT * FROM Proveedores WHERE id_proveedor = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCliente]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCliente]
    @id_cliente INT,
    @telefono NVARCHAR(50),
    @direccion NVARCHAR(255)
AS
BEGIN
    UPDATE Clientes
    SET telefono = @telefono,
        direccion = @direccion
    WHERE id_cliente = @id_cliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateProducto]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateProducto] 
    @IdProducto INT,
    @IdProveedor INT, 
    @Nombre VARCHAR(100), 
    @Categoria VARCHAR(20), 
    @Precio DECIMAL(10, 2), 
    @Tiempo_Entrega INT, 
    @Stock DECIMAL(10, 2)
AS
BEGIN
    UPDATE Productos
    SET 
        id_proveedor = @IdProveedor,
        nombre = @Nombre,
        categoria = @Categoria,
        precio = @Precio,
        tiempo_entrega = @Tiempo_Entrega,
        StockDisponible = @Stock
    WHERE id_producto = @IdProducto;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateProveedor]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateProveedor] @IdProveedor INT,@NombreEmpresa VARCHAR(100),
									 @Direccion VARCHAR(255),@Contacto VARCHAR(50),
									  @Horario VARCHAR(50)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Proveedores WHERE id_proveedor = @IdProveedor)
    BEGIN
        RAISERROR('El proveedor con ese id no existe', 16, 1, @IdProveedor);
        RETURN;
    END

    UPDATE Proveedores SET
        nombre_empresa = @NombreEmpresa, direccion = @Direccion, contacto = @Contacto,
        horario = @Horario
    WHERE
        id_proveedor = @IdProveedor;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateTransportista]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateTransportista]
    @id_transportista INT,
    @tipo_transporte NVARCHAR(50),
    @contacto NVARCHAR(50) -- Agregar contacto
AS
BEGIN
    UPDATE Transportistas
    SET tipo_transporte = @tipo_transporte,
        contacto = @contacto -- Actualizar contacto
    WHERE id_transportista = @id_transportista;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UptadeProducto]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UptadeProducto] (@IdProducto INT ,@IdProvedor INT, @Nombre VARCHAR(100), @Categoria VARCHAR(20), @Precio DECIMAL(10, 2), @Tiempo_Entrega INT)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Productos WHERE id_producto = @IdProducto)
    BEGIN
        RAISERROR ('El producto no esta registrado', 16, 1);
        RETURN;
    END

    UPDATE Productos
    SET id_proveedor = @IdProvedor,nombre = @Nombre,categoria = @Categoria,
		precio = @Precio,tiempo_Entrega = @Tiempo_Entrega
			WHERE id_producto = @IdProducto;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarStock]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerificarStock]
    @id_producto INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT StockDisponible
    FROM Productos
    WHERE id_Producto = @id_producto;
END;
GO
/****** Object:  Trigger [dbo].[trg_ValidarDistanciaMaxima]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ValidarDistanciaMaxima]
ON [dbo].[DetallePedido]
AFTER INSERT
AS
BEGIN
    DECLARE @idCliente INT, @idPedido INT, @idProducto INT, @idProveedor INT;
    DECLARE @ubicacionCliente geography, @ubicacionProveedor geography, @distancia DECIMAL(10, 2);
    DECLARE @error BIT = 0; -- Variable para determinar si existe un error de distancia

    -- Obtener el id_pedido y el id_producto del detalle insertado
    SELECT @idPedido = id_pedido, @idProducto = id_producto
    FROM INSERTED;

    -- Obtener el id_cliente asociado al pedido
    SELECT @idCliente = id_cliente
    FROM Pedidos
    WHERE id_pedido = @idPedido;

    -- Obtener la ubicación del cliente
    SELECT @ubicacionCliente = ubicacion_geografica 
    FROM Clientes 
    WHERE id_cliente = @idCliente;

    -- Asegurarse de que se obtuvo la ubicación del cliente
    IF @ubicacionCliente IS NULL
    BEGIN
        RAISERROR ('No se pudo obtener la ubicación del cliente.', 16, 1);
        ROLLBACK;
        RETURN;
    END

    -- Obtener el id_proveedor asociado al producto
    SELECT @idProveedor = id_proveedor
    FROM Productos
    WHERE id_producto = @idProducto;

    -- Obtener la ubicación del proveedor
    SELECT @ubicacionProveedor = ubicacion_geografica 
    FROM Proveedores 
    WHERE id_proveedor = @idProveedor;

    -- Asegurarse de que se obtuvo la ubicación del proveedor
    IF @ubicacionProveedor IS NULL
    BEGIN
        RAISERROR ('No se pudo obtener la ubicación del proveedor.', 16, 1);
        ROLLBACK;
        RETURN;
    END

    -- Calcular la distancia en kilómetros
    SET @distancia = @ubicacionCliente.STDistance(@ubicacionProveedor) / 1000; -- convertir a kilómetros

    -- Validar la distancia máxima permitida
    IF @distancia > 12
    BEGIN
        RAISERROR ('La distancia entre el punto de venta y el punto de entrega excede los 12 km para el producto.', 16, 1);
        ROLLBACK;
    END
END;
GO
ALTER TABLE [dbo].[DetallePedido] ENABLE TRIGGER [trg_ValidarDistanciaMaxima]
GO
/****** Object:  Trigger [dbo].[trg_VerificarTransportistaActivo]    Script Date: 25/11/2024 01:59:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[trg_VerificarTransportistaActivo]
ON [dbo].[Pedidos]
AFTER UPDATE
AS
BEGIN
    -- Verificar que no haya conflictos en la asignación de transportistas
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN Pedidos p ON i.id_transportista = p.id_transportista
        WHERE p.estado IN ('pendiente', 'en camino')
          AND i.id_pedido <> p.id_pedido
    )
    BEGIN
        -- Lanzar un error si el transportista tiene un envío activo
        RAISERROR('El transportista ya tiene un envío activo.', 16, 1);
        ROLLBACK;
    END
END;
GO
ALTER TABLE [dbo].[Pedidos] ENABLE TRIGGER [trg_VerificarTransportistaActivo]
GO
USE [master]
GO
